@model HashSet<string>
@{
    ViewData["Title"] = "Reverse";
}

<h1>Redis SortedSet Reverse</h1>

<br />
<a asp-controller="SortedSets" asp-action="Index">Normal Sırala</a>
<br />
<div>
    <form asp-controller="SortedSets" asp-action="Add" method="post" enctype="application/x-www-form-urlencoded">
        <input type="text" name="name" />
        <input type="number" name="score" />
        <button type="submit">Ekle</button>
    </form>
</div>
<br />
<div>
@foreach (var item in Model)
{
    <h2>@item <a asp-controller="SortedSets" asp-action="DeleteItem" asp-route-name="@item">Bunu Sil</a></h2>
}
</div>
